<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name" defaultValue="unknown-service"/>
    <springProperty scope="context" name="platformServiceName" source="logging.platform.service-name" defaultValue="${springAppName}"/>
    <springProperty scope="context" name="platformEnv" source="spring.profiles.active" defaultValue="default"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>Asia/Shanghai</timeZone>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <pattern>
                    <pattern>
                        {"serviceName":"${platformServiceName}","service.name":"${platformServiceName}","env":"${platformEnv}"}
                    </pattern>
                </pattern>
                <mdc/>
                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
