[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
default-time-zone='+08:00'
max_connections=500
log_bin=mysql-bin
binlog_format=ROW
binlog_row_image=FULL
server_id=1

[client]
default-character-set=utf8mb4
